@model IEnumerable<BooksStore.Domain.Entities.Book>

@{
    ViewBag.Title = "Admin: All Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>All Products</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        @*<th class="NumericCol">Price</th>*@
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BookID</td>
            <td>@Html.ActionLink(item.Name, "Edit", new { item.BookID }, new { @class= "text-link-dark" })</td>
            @*<td class="NumericCol">@item.Price.ToString("c")</td>*@
            <td>
                @using (Html.BeginForm("Delete", "Admin"))
                {
                    @Html.Hidden("BookID", item.BookID)
                    <input class="btn btn-dark" type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
</table>
<a class="btn btn-dark" href="/Admin/Create">Add a new book</a>
@*<p>@Html.ActionLink("Add a new product", "Create")</p>*@