@model BooksStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Book Store: Your Cart";
}

<h2>Your cart</h2>
<table width="90%" align="center" >
    <thead>
        <tr>
            <th align="center">Quantity</th>
            <th align="left">Item</th>
            <th align="right">Price</th>
            <th align="right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>
            <td align="center">@line.Quantity</td>
            <td align="left">@line.Book.Name</td>
            <td align="right">@line.Book.Price $s</td>
            <td align="right">@((line.Quantity * line.Book.Price)) $</td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                    @Html.Hidden("BookId", line.Book.BookID)
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <input class="actionButtons btn btn-dark" type="submit" value="Remove" />
                }
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" align="right">Total:</td>
            <td align="right">
                @Model.Cart.ComputeTotalValue() $
            </td>
        </tr>
    </tfoot>
</table>

<p align="center" class="actionButtons">
    <a class="btn btn-dark" href="/Book/List">Continue shopping</a>
    @*<a href="@Model.ReturnUrl">Continue shopping</a>*@
    <a class="btn btn-dark" href="/Cart/Checkout">Checkout</a>
</p>
